* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    position: relative;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 3em;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    opacity: 0.1;
}

button:focus {
    outline: 0;
}

input{
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    outline: 0;
}

#back-to-top:hover {
    background-color: white;
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity: 1;
}

.top {
    border-bottom: 1px solid gray;
}

.ul_list {
    margin: 0 auto;
    width: 1024px;
    overflow: hidden;
    line-height: 45px;
}

.ul_list li {
    float: right;
    margin-left: 25px;
}

.ul_list li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

nav {
    margin: 0 auto;
}

.logo_container {
    margin: 0 auto;
    width: 1024px;
    padding: 35px 0 0;
    overflow: hidden;
}

.logo_container h1 {
    float: left;
}

.logo_container h1 a img {
    width: 150px;
    height: 75px;
    left: 20px;
    margin-right: 70px;
}

.logo_container h2 {
    margin-left: 230px;
    width: 450px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    top: 20px;
}

.logo_container h2 input {
    border: none;
    width: 385px;
    height: 20px;
    margin-left: 10px;
}

.logo_container h2 input:focus {
    outline: none;
}

.fa-search:before {
    position: absolute;
    margin-left: 18px;
    margin-top: -15px;
    cursor: pointer;
}


.logo_container ul {
    overflow: hidden;
    margin-top: -10px;
}

.logo_container ul li {
    float: right;
    margin-left: 24px;
    font-weight: bold;
}

.logo_container ul li span {
    margin-left: 10px;
    width: 51px;
    height: 20px;
}

.menu {
    border-bottom: 1px solid black;
}

.menu h2 {
    margin: 0 auto;
    width: 1024px;
    height: 70px;
    position: relative;
}


.fa-bars:before {
    margin-left: 15px;
    padding-bottom: 5px;
}

.menu ul {
    width: 150px;
    margin-left: -20px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px 10px;
    line-height: 40px;
    margin-right: 20px;
    background-color: white;
    z-index: 3;
    position: absolute;
    font-size: 15px;
    display: none;
}

.menu ul h3 {
    border-bottom: 1px solid black;
}

.menu div ul li {
    font-weight: normal;
    font-size: 15px;
}

/*slide*/

.div_container {
    margin: 0 auto;
    width: 1024px;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-top: none;
    transition: all 3s ease-in;
}

.slider_container {
    position: absolute;
    height: 300px;
    width: 100%;
}

.slider_container .animated {
    transition: all 1s ease-in;
}

.slider_container li {
    -webkit-transition: all 2s ease-in;
    transition: all 500ms ease 0s;
}


.slide {
    position: absolute;
    width: 100%;
    padding: 0 1%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 250px;
    font-weight: bold;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 3s ease-in;
}

#prev.disabled,
#next.disabled {
    display: none;
}

#prev {
    background-image: url(../img/arrow-left-out.svg);
    margin-left: -480px;
}

#prev:hover {
    background-image: url(../img/arrow-left-over.svg);
}

#next {
    margin-left: 415px;
    background-image: url(../img/arrow-right-out.svg);
}

#next:hover {
    background-image: url(../img/arrow-right-over.svg);
}

/*slide*/

.main {
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
}

.section_category {
    margin: 0 auto;
    width: 1024px;
    padding: 35px 0;
}

.section_category h2 {
    margin-bottom: 10px;
}

.category_button {
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
}


.category_button div .ct1 {
    cursor: pointer;
}

.category_button div .ct2 {
    cursor: pointer;
}

.category_button div {
    display: flex;
}

.category_button div .colorbtn2 {
    flex-shrink: 0;
    text-align: center;
    margin-left: -1px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: rgb(255, 255, 255);
    z-index: 1;
    background: rgb(255, 80, 88);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initia;
    cursor: pointer;
}

.sell_category_container .cate1 {
    display: none;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.sell_category_container .cate1 span {
    margin-left: 5px;
    color: red;
}


.category_button div button {
    width: 126px;
    height: 50px;
    flex-shrink: 0;
    text-align: center;
    margin-left: -1px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    border-image: initial;
    background: rgb(255, 255, 255);
}



#clickbtn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 2;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    cursor: pointer;
}



.fashion {
    margin: 0 auto;
    width: 1024px;
    overflow: hidden;
    border-bottom: 1px solid black;
}

.fashion:last-child {
    border: 1px solid white;
}

.fashion .name {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fashion .name a {
    color: rgb(204, 204, 204);
    margin-left: 10px;
}

.fashion .box_container {
    display: inline-block;
    margin-bottom: 60px;
}

.fashion .box_container .box {
    float: left;
    width: 240px;
    height: 274px;
    margin-right: 14px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.fashion .box_container .box div img {
    width: 240px;
    height: 215px;
}

.title {
    font-size: 14px;
    padding-bottom: 18px;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
}

.price {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

footer {
    border-top: 1px solid white;
}

.inner {
    margin: 0 auto;
    width: 1024px;
}

.inner_Logo {
    padding: 0px 10px 30px 10px;
}

.ftLogo {
    margin-top: 30px;
}

.inner .ftLogo img {
    width: 91px;
    height: 50px;
}

.inner_Logo p {
    line-height: 2.57;
    letter-spacing: 2.2px;
    font-size: 15px;
}

.inner .list li {
    font-size: 15px;
    line-height: 2.57;
    letter-spacing: 2.2px;
    text-align: center;
    font-weight: bold;
}

.inner .list li:last-child {
    margin-left: 10px;
}


.myshop {
    border-bottom: 1px solid;
}

.myshop_container {
    margin: 0 auto;
    width: 1024px;
    margin-top: 30px;
}

.myshop_container .myshop_container_top {
    border: 1px solid;
    height: 310px;
    overflow: hidden;
}

.myshop_container .myshop_container_top .myshop_container_top_box {
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 310px;
    height: 310px;
    background-color: rgb(249, 249, 249);
    display: inline-block;
}

.myshop_container .myshop_container_top .myshop_container_top_box div button {
    width: 106px;
    height: 40px;
    font-size: 13px;
    border: 1px solid;
    background-color: white;
    margin-top: 125px;
    margin-left: 100px;
    cursor: pointer;
}

.myshop_container_top_contents {
    float: right;
    width: 710px;
    height: 310px;

}

.myshop_container_top_contents_name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 200px;
    margin-left: 20px;
}

.btn {
    border: 1px solid rgb(136, 136, 136);
    background-color: white;
    color: rgb(136, 136, 136);
    font-size: 15px;
    cursor: pointer;
}

#btn {
    margin-left: 25px;
}

.myshop_container_bottom {
    margin-top: 35px;
}

.myshop_container_bottom_box {
    display: flex;
    height: 50px;
    margin-bottom: 40px;
}

.myshop_container_bottom_box button {
    margin-left: -1px;
    width: 1024px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(33, 33, 33);
    font-weight: 600;
    flex: 1 1 0%;
    border: 1px solid rgb(33, 33, 33);
    background: rgb(255, 255, 255);
    cursor: pointer;
}


.myshop_container_bottom_box button:focus {
    outline: 0;
}

#product {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    display: none;

}

#product3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    display: none;

}



#product div span {
    color: red;
}

#product3 div span {
    color: red;
}


#product2 {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid;
    padding: 80px 0;
    font-size: 15px;
    display: none;
}

#product4 {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid;
    padding: 80px 0;
    font-size: 15px;
    display: none;
}

.page {
    text-align: center;
    width: 50%;
    margin-left: 255px;
}

.pargination {
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
}

.pargination li {
    display: inline;
    text-align: center;
}

.pargination a {
    float: left;
    display: block;
    font-size: 14px;
    padding: 5px 12px;
    line-height: 2;
}

.modal .num {
    background-color: white;
    margin-left: 14px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.sell {
    font-size: 16px;
    position: relative;
    background: rgb(255, 255, 255);
    display: block;
    width: 1024px;
    margin: 0 auto;
}

.sell .sell_info {
    display: block;
}

.sell .sell_info h2 {
    height: 100px;
    font-size: 26px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(30, 29, 41);
}

.sell .sell_image {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid
}

.sell .sell_image .sell_image_name {
    width: 168px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.sell .sell_image .sell_image_box {
    flex: 1 1 0%;
}

.sell .sell_image .sell_image_box .sell_image_box1 {
    display: flex;
    width: 1024px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.sell .sell_image .sell_image_box .sell_image_box1 div {
    width: 202px;
    height: 202px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(155, 153, 169);
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 229, 239);
    border-image: initial;
    background: rgb(250, 250, 253);
    left: 150px;
}

.sell .sell_image .sell_image_box .sell_image_box1 .sell_image_box2 {
    display: none;
}


.sell .sell_image .sell_image_box .sell_image_box1 .sell_image_box2 button {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 12px 12px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}



.sell .sell_image .sell_image_box .sell_image_box1 div input {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
}

.sell .sell_image .sell_image_box ul {
    font-size: 14px;
    margin-left: 150px;
    font-weight: 500;
}

#sell_first {
    font-size: 15px;
    font-weight: 900;
}

.sell_title_container {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_title_container .sell_title_container_name {
    width: 10.5rem;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
    margin-left: 10px;
    margin-right: -30px;
}

.sell_title_container .sell_title_container_input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
}

.sell_title_container .sell_title_container_input input {
    height: 3rem;
    width: 80%;
    padding: 0px 1rem;
}

.sell_title_container .sell_title_container_input input:focus {
    outline: 0;
}

.sell_category_container {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid
}

.sell_category_container .sell_category_container_title {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_category_container .sell_category_container_ul {
    display: flex;
    width: 30%;
    height: 10rem;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 219, 228);
    border-image: initial;
}

.sell_category_container .sell_category_container_ul ul {
    width: 284px;
    height: 100%;
}

.sell_category_container .sell_category_container_ul ul li {
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
}

.sell_category_container .sell_category_container_ul ul li input{
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    font-weight: 600;
}


.sell_category_container .sell_category_container_ul ul li .red {
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    direction: ltr;
    text-align: left;
    color: red;
    letter-spacing: -0.5px;
    font-weight: 600;
    outline-color: white;
}


.sell_state {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_state .sell_state_name {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_state_container {
    flex: 1 1 0%;
}

.sell_state_container ul {
    display: flex;
    margin-top: 9px;
}

.sell_state_container ul li {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}

.sell_state_container ul li input {
    margin-right: 10px;
    cursor: pointer;
}

.sell_exchange {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_exchange .sell_exchange_name {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_exchange_container {
    flex: 1 1 0%;
}

.sell_exchange_container ul {
    display: flex;
    margin-top: 9px;
}

.sell_exchange_container ul li {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}

.sell_exchange_container ul li input {
    margin-right: 10px;
    cursor: pointer;
}

.sell_price {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_price_name {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_price_container {
    flex: 1 1 0%;
}

.sell_price_container div {
    box-sizing: border-box;
}

.sell_price_container div input {
    height: 2.3rem;
    padding: 0px 1rem;
    width: 240px;
    margin-right: 1rem;
}

.sell_price_container div input:focus {
    outline: 0;
}

.sell_price_container div span {
    font-size: 16px;
    font-weight: bold;
}

.sell_price_container ul {
    display: flex;
    margin-top: 1rem;
}

.sell_price_container ul li {
    margin-right: 2rem;
}

.sell_price_container ul li input {
    margin-right: 10px;
    cursor: pointer;
}

.sell_Explanation {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_Explanation_name {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_Explanation_container {
    flex: 1 1 0%;
}

.sell_Explanation_container textarea {
    padding: 1rem;
    width: 80%;
    height: 160px;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    overflow: auto;
}

.sell_Quantity {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid;
}

.sell_Quantity_name {
    width: 10.5rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: -31px;
}

.sell_Quantity_container {
    flex: 1 1 0%;
}

.sell_Quantity_container div {
    box-sizing: border-box;
}

.sell_Quantity_container div input {
    height: 2.3rem;
    padding: 0px 1rem;
    width: 240px;
    margin-right: 1rem;
}

.sell_Quantity_container div input:focus {
    outline: 0;
}

.sell_Quantity_container div span {
    font-weight: bold;
}

.sell_btn {
    width: 100%;
    height: 5.5rem;
    left: 0px;
    bottom: 0px;
}

.sell_btn div {
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: 1024px;
    margin: auto;
}

.sell_btn div button {
    width: 160px;
    height: 56px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid;
    margin-top: 25px;
}

.info_container {
    width: 1024px;
    padding: 30px 0px 100px;
    margin: 0 auto;
    display: flex;
}

.info_container_img {
    margin-right: 40px;
    flex-shrink: 0;
    width: 426px;
    height: 426px;
}

.info_container_img1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    transition: all 3s ease-in;
}

.info_container_img2 {
    position: absolute;
    height: 100%;
    width: 100%;
}

.info_container_img2 .animated {
    transition: all 1s ease-in;
}

.info_container_img2 img {
    -webkit-transition: all 2s ease-in;
    transition: all 500ms ease 0s;
}


.slide {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 250px;
    font-weight: bold;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 3s ease-in;
}

#prevBtn.disabled,
#nextBtn.disabled {
    display: none;
}

#prevBtn {
    background-image: url(../img/arrow-left-over.svg);
}



#nextBtn {
    right: 10px;
    background-image: url(../img/arrow-right-over.svg);
}




.info_container_info {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.info_container_info1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.info_container_info2 {
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.info_container_info2_name {
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.info_container_info2_name2 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.4;
}

.info_container_info2_name_price {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.info_container_info2_name_price .comma {
    font-size: 40px;
    font-weight: 500;
    position: relative;
}


.info_container_info2_name_price span {
    position: absolute;
    font-size: 28px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: -5px;
}

.info_container_info2_info {
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.info_container_info2_info1 {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    width: 90px;
    padding-left: 15px;
    color: rgb(153, 153, 153);
}

.info_container_info2_info2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.info_container_info2_info div button {
    font-weight: 600;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 66px;
    font-size: 18px;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    cursor: pointer;
}

#info_btn {
    color: rgb(255, 255, 255);
    background: rgb(255, 164, 37);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(243, 150, 20);
    border-image: initial;
}

#info_btn2 {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 0, 0);
    border-image: initial;
}

.info_container2 {
    margin: 0 auto;
    width: 1024px;
    background-color: rgb(249, 249, 249);
}

.info_container2 button {
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(33, 33, 33);
    font-weight: 600;
    flex: 1 1 0%;
    border: 1px solid;
    background: rgb(255, 255, 255);
}

.info_container2 div {
    width: 100%;
}

.info_container2 #p {
    font-size: 17px;
    height: 100%;
    white-space: pre-wrap;
    line-height: 1.5;
    margin: 40px 10px;
    display: flex;
    text-align: left;
}