<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://kit.fontawesome.com/7b5ecf7db0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo2.png" />
    <link rel="stylesheet" href="../css/login.css">
</head>
<script>
	function emailCheck() {

		var email = $("#email").val()

		if (email.length == 0) {

			alert("이메일을 입력해주세요.")
			return
		}

		$.ajax({
			url: "/user/emailCheck/" + email,
			type: "get",
			dataType: "text",
			success: function (result) {
				if (result.trim() == "true") {

					alert("사용할 수 있는 이메일 입니다.")
					$("#emailExist").val("true")
				} else {

					alert("이미 가입된 이메일 입니다.")
					$("#emailExist").val("false")
				}
			}
		})
	}

	function resetEmailExist() {

		$("#emailExist").val("false")
	}
</script>
<body>
    <div class = 'member'>
        <div class = 'member_container'>
            <h2>회원정보수정</h2>
            <div>
                <div>e.mail</div>
                <input type="email"  id ='userId' placeholder="e메일형식만!">
                <div>비밀번호</div>
                <input type="password" id ='password' placeholder = "4~12자리">
                <div>비밀번호 확인</div>
                <input type="password" id ='userconfirm' placeholder = "비밀번호 확인">
                <div>이름</div>
                <input type="text" id ='name' placeholder="이름을 적어주세요">
                <div>닉네임</div>
                <input type="text" id ='nickname' placeholder="한글/영문/숫자만!">
                <div>휴대폰 번호</div>
                <input type="text" id ='hp' placeholder="010-xxxx-xxxx">
            </div>
            <div>
                <button type="submit"  id ='signup'>수정완료</button>
                <button type="submit"  id ='signup'>취소</button>
            </div>
        </div>
    </div>
    <script src="../js/member_join.js.js"></script>
</body>