<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.googongmarket.mapper.ProductMapper">
	<select id="getList" resultType="com.googongmarket.domain.ProductVO">
		<![CDATA[
			SELECT * FROM product WHERE bno > 0
		]]>
	</select>
	
	<insert id="create" parameterType="com.googongmarket.domain.ProductVO" useGeneratedKeys="true" keyProperty="bno">
		INSERT INTO product(title, content, seller, category, amount, price)
		VALUES(#{title}, #{content}, #{seller}, #{category}, #{amount}, #{price})
	</insert>
	
	<insert id="createFile" parameterType="com.googongmarket.domain.ImageVO">
		INSERT INTO images(bno, filepath, thumbnail, number) VALUES(#{bno}, #{filepath}, #{thumbnail}, #{number})
    </insert>
	
	<select id="read" resultType="com.googongmarket.domain.ProductVO">
		SELECT * FROM product WHERE bno = #{bno}
	</select>
	
	<select id="readFile" resultType="com.googongmarket.domain.ImageVO">
		SELECT thumbnail FROM images WHERE bno = #{bno} ORDER BY regdate LIMIT 1
	</select>
	
	<select id="getFile" resultType="java.lang.String">
		SELECT thumbnail FROM images WHERE bno = #{bno}
	</select>
	
	<select id="mainPage" resultType="com.googongmarket.domain.ProductVO">
		SELECT product.bno, MIN(thumbnail) AS thumbnail, title, price
			FROM product INNER JOIN images ON product.bno = images.bno
				WHERE category = #{category} AND number = 1
					GROUP BY product.bno
						ORDER BY product.bno DESC LIMIT 4
	</select>
	
	<delete id="delete">
		DELETE FROM product WHERE bno = #{bno}
	</delete>
	
	<update id="update">
		UPDATE product SET
		title = #{title}, 
		content = #{content}, 
		writer = #{writer}, 
		category = #{category}, 
		amount = #{amount}, 
		price = #{price}, 
		filepath = #{filepath}
		WHERE bno = #{bno}		
	</update>
	
	<select id="search" resultType="com.googongmarket.domain.ProductVO">
		SELECT product.bno, MIN(thumbnail) AS thumbnail, title, price
			FROM product INNER JOIN images ON product.bno = images.bno
				WHERE title like CONCAT('%',#{keyword},'%') AND number = 1 GROUP BY product.bno LIMIT 4
	</select>
</mapper>